modules = ["nodejs-24"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["revenuecat:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
FIREBASE_API_KEY = "AIzaSyAj1VmGmUshP4gY-SidYnywJHaNv1g74y4"
FIREBASE_AUTH_DOMAIN = "fitness-app-e0aab.firebaseapp.com"
FIREBASE_PROJECT_ID = "fitness-app-e0aab"
FIREBASE_STORAGE_BUCKET = "fitness-app-e0aab.firebasestorage.app"
FIREBASE_MESSAGING_SENDER_ID = "940364649286"
FIREBASE_APP_ID = "1:940364649286:web:5a8f2d468b027f98574b47"
FIREBASE_MEASUREMENT_ID = "G-LY7WHGY9BQ"
EXPO_PUBLIC_FIREBASE_API_KEY = "AIzaSyAj1VmGmUshP4gY-SidYnywJHaNv1g74y4"
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN = "fitness-app-e0aab.firebaseapp.com"
EXPO_PUBLIC_FIREBASE_PROJECT_ID = "fitness-app-e0aab"
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET = "fitness-app-e0aab.firebasestorage.app"
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID = "940364649286"
EXPO_PUBLIC_FIREBASE_APP_ID = "1:940364649286:web:5a8f2d468b027f98574b47"
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID = "940364649286-esb4opj7ri6bcfec9cs2mpib5u6sa3rl.apps.googleusercontent.com"
EXPO_PUBLIC_FIREBASE_DATABASE_URL = "https://fitness-app-e0aab-default-rtdb.asia-southeast1.firebasedatabase.app"
EXPO_PUBLIC_REVENUECAT_TEST_API_KEY = "test_fGZMSYpFsSxaPJCzRoTBfhcDIuS"
EXPO_PUBLIC_REVENUECAT_IOS_API_KEY = "test_fGZMSYpFsSxaPJCzRoTBfhcDIuS"
EXPO_PUBLIC_REVENUECAT_ANDROID_API_KEY = "test_fGZMSYpFsSxaPJCzRoTBfhcDIuS"

[nix]
channel = "stable-25_05"
